/*-- scss:defaults --*/

$body-bg: #0d1117;
$body-color: #e5e7eb;
$link-color: #8db7ff;
$selection-bg: #26354d;

$navbar-bg: #0d1117;
$navbar-fg: #e5e7eb;
$navbar-hl: #8db7ff;

$code-bg: #151a22;
$code-color: #f0b7a4;

$border-color: #293241;
