/*-- scss:defaults --*/

$body-bg: #0d1117;
$body-color: #e5e7eb;
$link-color: #d9a3a9;
$selection-bg: #4a252d;

$navbar-bg: #0d1117;
$navbar-fg: #e5e7eb;
$navbar-hl: #d9a3a9;

$code-bg: #151a22;
$code-color: #f0b7a4;

$border-color: #293241;
