/*-- scss:defaults --*/

$body-bg: #fff1dc;
$body-color: #1f1f1f;
$link-color: #1f4f8f;
$selection-bg: #ead2a8;

$navbar-bg: #fff1dc;
$navbar-fg: #1f1f1f;
$navbar-hl: #1f4f8f;

$code-bg: #f3dfbd;
$code-color: #6f2d1f;

$border-color: #d8c7aa;
